[packages]
findspark = "==1.4.2"
pytest = "==5.4.1"
pytest-cov = "==2.8.1"
pyspark = "==2.4.5"

[requires]
python-version = "3.7"

[scripts]
generate-report = "spark-submit data_processor/__main__.py ./data/students.csv ./data/teachers.parquet"
unit-test = "python -m pytest --cov=data_processor data_processor/tests"